
login = '<email>'
password = '<пароль для приложения. генерируется где-то в аккаунте google>'
playlist = 'имя playlist, из которого нужно скачать музыку'
path = "куда скачивать музыку. сразу на флешку качает нормально"
